.folder {
  transition: all 0.2s ease;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  position: relative;
}
.folder:hover {
  box-shadow: 0 0 3px 1px lightcoral;
}
.folder--list:hover {
  box-shadow: inset 0 0 3px 1px cadetblue;
}
.create {
  transition: all 0.2s ease;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  position: relative;
}
.create:hover {
  box-shadow: 0 0 3px 1px lightcoral;
}
.remove-folder {
  position: absolute;
  right: 0;
  margin: 10px;
  font-size: 17px;
  padding: 5px;
  transition: all 0.1s ease;
}
.remove-folder:hover {
  font-size: 15px;
}
.folder-add-data {
  position: absolute;
  right: 0;
  margin: 33px 10px;
  font-size: 17px;
  padding: 5px;
  transition: all 0.1s ease;
}
.folder-add-data:hover {
  font-size: 15px;
}
.grid-list__icon {
  font-size: 26px;
}
.grid-list__text {
  font-size: 21px;
}
